body {
  padding: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

html, body {
  height: fit-content;
}

.small-icon {
  max-width: 20px;
  max-height: 20px;
}

.icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
